GATSBY_SANITY_PROJECT_ID="<#< sanity.projectId >#>"
GATSBY_SANITY_DATASET="<#< sanity.dataset >#>"

# Rename this file to .env.development for local development.
# Note: After renaming – DO NOT commit this file to git!
# ADD THESE VALUES BEFORE STARTING:

# FIXME: I am not sure we need this in this file
GATSBY_SANITY_READ_TOKEN=""
# FIXME: this should be private and not be prefixed with GASTBY_
GATSBY_GOOGLE_RECAPTCHA_SECRET=""
GATSBY_GOOGLE_RECAPTCHA_PUBLIC=""
GATSBY_MAILGUN_API=""
GATSBY_DOMAIN=""
